{% extends 'base.html' %}

{% block title %}
    {% if selected_category %}
        {{ selected_category.name }}
    {% else %}
        All Products
    {% endif %}
{% endblock %}

{% block content %}


<section class="hero-banner">
    <img src="https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9?auto=format&fit=crop&w=1600&q=80"
         alt="Beauty Banner">
    <div class="hero-overlay">
        <h1>Discover Your Beauty</h1>
        <p>Premium makeup, skincare and cosmetics.</p>
    </div>
</section>


<div class="section-header">
    <h2>
        {% if selected_category %}
            {{ selected_category.name }}
        {% else %}
            Trending Beauty Products
        {% endif %}
    </h2>
</div>


<div class="product-grid">
    {% for product in products %}
        <div class="product-card">
            <a href="{% url 'product_detail' product.slug %}">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img src="https://via.placeholder.com/400x400?text=No+Image"
                         alt="{{ product.name }}">
                {% endif %}
            </a>

            <div class="product-info">
                {% if product.brand %}
                    <p class="product-brand">{{ product.brand }}</p>
                {% endif %}

                <h3>
                    <a href="{% url 'product_detail' product.slug %}">
                        {{ product.name }}
                    </a>
                </h3>

                <p class="product-price">₹{{ product.price }}</p>

  <a href="{% url 'product_detail' product.slug %}" class="view-details-btn">
    View Details
</a>
            </div>
        </div>
    {% empty %}
        <p>No products found.</p>
    {% endfor %}
</div>

{% endblock %}
