<!-- <ul class="category-menu"> -->

    <!-- 'ALL' Products Link -->
    <!-- <li class="all-item">
        <a href="{% url 'product_list' %}">ALL</a>
    </li> -->

    <!-- Loop through Parent Categories -->
    <!-- {% for category in categories %}
    <li class="nav-item"> -->

        <!-- Parent Category Button
        <button class="nav-btn" onclick="toggleMenu(this)">
            {{ category.name }}
        </button> -->

        <!-- Check if parent has subcategories -->
        <!-- {% if category.subcategories.all %}
        <ul class="submenu">
            {% for sub in category.subcategories.all %}
            <li>
                <a href="{% url 'products_by_category' sub.slug %}">
                    {{ sub.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

    </li>
    {% endfor %} 

</ul> -->