{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Makeup Store{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="top-bar">
        ✨ Flat 20% Off on All Beauty Products | Free Shipping Above ₹999
    </div>


    <header class="site-header">
        <div class="container">
            <div class="nav-bar">

                
                <a href="{% url 'product_list' %}" class="logo">
                    💄 Makeup<span>Store</span>
                </a>

              
                {% include 'includes/navbar.html' %}

        
                <form method="get" action="{% url 'product_list' %}" class="search-box">
                    <input type="text" name="q" placeholder="Search products..." value="{{ request.GET.q }}">
                    <button type="submit">🔍</button>
                </form>

                <div class="header-actions">
                    <a href="#">Account</a>
                    <a href="{% url 'wishlist_detail' %}">Wishlist ❤️</a>
                    <a href="{% url 'cart_detail' %}">Cart</a>
                </div>

            </div>
        </div>

       <div class="category-navbar">
    <div class="container">
        <ul class="category-menu">
           
            <li class="all-item">
                <a href="{% url 'product_list' %}">ALL</a>
            </li>

            
            {% for category in categories %}
            <li class="nav-item">
                
                <a href="{% url 'products_by_category' category.slug %}" class="nav-link">
                    {{ category.name }}
                </a>

                
                <!-- <ul class="submenu">
                    <li>
                        <a href="{% url 'products_by_category' category.slug %}" class="view-all-sub">
                            View All {{ category.name }}
                        </a>
                    </li> -->
                    
                    <!-- {% for sub in category.subcategories.all %}
                    <li>
                        <a href="{% url 'products_by_category' sub.slug %}">
                            {{ sub.name }}
                        </a>
                    </li>
                    {% empty %}
                    <li class="no-sub">No subcategories</li>
                    {% endfor %}
                </ul> -->
             </li>
            {% empty %}
            <li>No categories found.</li>
            {% endfor %} 
        </ul>
    </div>
</div>
    </header>

   
    <main class="container main-content">
        {% block content %}
        {% endblock %}
    </main>

    
    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2026 Makeup Store. All rights reserved.</p>
        </div>
    </footer>

   

</body>
</html>
